@font-face {
    font-family: BeautySmile;
    src: url(../fonts/BeautySmile.otf);
}
@font-face {
    font-family: AmaticBold;
    src: url(../fonts/AmaticSC-Bold.ttf);
}
@font-face {
    font-family: GlacialIndifference;
    src: url(../fonts/GlacialIndifference-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GlacialIndifference;
}
.navbar{
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
}
#tefiti{
    font-family: BeautySmile;
    font-size: 2em;
    color: #04547c;
}
#logo{
    width: 1.8em;
}
#productos_container{
    padding-top: 4em;
}
h1{
    font-family: AmaticBold;
    padding: 0.2em;
    padding-bottom: 0.01em;
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
    letter-spacing: 0.1em;
}
h6{
    font-weight: bold;
}
#btn_carrito{
    font-size: 1.8em;
}

@media (max-width: 768px){

    #btn_carrito{
	    position:absolute;
	    top: 0;
	    right: 2.4em;
    }
}

#productos{
    margin: 0.2em;
    display: grid;
    grid-auto-rows: 25em;
    grid-gap: 0.5;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}
.producto{
    display: flex;
    justify-content: center;
}
.card{
    width: 15em;
    position:unset;
}
.btn{
    padding: 0.2em;
}
.btn-primary{
    background-color: #04c494;
    border-color: #04bc94;
}
#filtro_container{
    text-align: center;
    padding: 1.1em;
}
@media (max-width: 768px) {
    #filtro_container{
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}
.form-check-input:checked {
    background-color: #04bc94;
    border-color: #04bc94;
}
/*CARRITO*/
.nomostrar{
    display: none;
}
.mostrar{
    position: fixed;
    top: 3.7em;
    right: 0;
    height: 100%;
    padding: 0;
    padding-top: 2rem;
    background-color: #04bc94;
    color: white;
    max-width: 25%;
    min-width: 25%;
    animation: slideInRight;
    animation-duration: 1s;
}
@media (max-width: 768px) {
    .mostrar{
        max-width: 80%;
        min-width: 80%;  
    }
}
#contenedor_carrito{
    color: white;
    text-align: center;
    padding: 0;
}
.imagen_producto_elegido{
    width: 4em;
}
#carrito{
    margin: auto;
    text-align: center;
    padding: 0;
}
td{
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1.2em;
}

.btn-danger{
    font-size: 1em;
}
@media (max-width: 768px){
    td{
        font-size: 0.7em; 
    }
    .btn-danger{
        font-size: 1em;
    }
}
#carrito_total{
    font-weight: bolder;
}
footer{
    text-align: center;
}